*{
	box-sizing:border-box;
}
@media(min-width:992px){
	
	.col-lg-4{
		width:31%;
		
	}


}
@media(min-width:768px) and (max-width:991px)
{
	.col-md-6{
		width:48%;
		
	}
	.col-md-12{
		width:98%;
		
	}

}
@media(max-width:767px)
{
	.col-sm-12{
		width:98%;
		
	}
}
section{
	padding:1%;
		border: 2px  solid black;
		float:left;
		margin-right:1%;
		margin-left:1%;
		margin-top:1%;
	background-color: gray;
	font-family: helvetica;
	position:relative;
}
h1{

	text-align: center;
	color:black;
}
div{
	border-left:2px solid black;
	border-bottom:2px solid black;
	position:absolute;
	text-align: center;
	left:80%;
	right:0;
	top:0;
	width:20%;
}
#sec1{
	background-color: red;
}
#sec2{
	background-color: blue;
}
#sec3{
	background-color: green;
}